{% extends 'pages/base.html' %}


{% block banner_buttons %}



<div class="banner-buttons">
   <h2 style="font-size: 3rem; color: rgb(0, 83, 4);">Our Services</h2>

</div>


{% endblock %}


{% block content %}
{% load static %}

<div class="display">

    <div class="card">
       <img src="{% static 'images/solar_panels.png' %}" alt="installations" class="services-image">
        <h3>Installations</h3>
        <a href="#" class="service-button">Tell Me More</a>
    </div>

    <div class="card">
        <img src="{% static 'images/retail.png' %}" alt="Services Image" class="services-image">
        <h3>Retail services</h3>
        
        <a href="#" class="service-button">Tell Me More</a>
    </div>

    <div class="card">
        <img src="{% static 'images/finance.png' %}" alt="Services Image" class="services-image">
        <h3>Finance Advice</h3>
        
        <a href="#" class="service-button">Tell Me More</a>
    </div>

    <div class="card">
        <img src="{% static 'images/consult.png' %}" alt="Services Image" class="services-image">
        <h3>Consultations</h3>
        
        <a href="#" class="service-button">Tell Me More</a>
    </div>

    <div class="card">
        <img src="{% static 'images/maintain.png' %}" alt="Services Image" class="services-image">
        <h3>Maintanance</h3>
        
        <a href="#" class="service-button">Tell Me More</a>
    </div>

    <div class="card">
        <img src="{% static 'images/carbon.png' %}" alt="Services Image" class="services-image">
        <h3>Reducing and Calculating Carbon Footprint</h3>
        
        <a href="#" class="service-button">Tell Me More</a>
    </div>

</div>

{% endblock %}