.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.banner-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.banner-btn {
    padding: 12px 24px;
    background: #00ff08;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* Above is the styling of the homepage  */


   /* Below is for the loginpage */

.login-box {
    background: #2ecc71;           /* nice green background */
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    margin: 40px auto;            /* centers the box */
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.login-box form p {
    color: white;
    font-size: 16px;
}

.login-btn {
    background: white;
    color: #2ecc71;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
